<br><br><br>
<div class = "container">
	<div class="wrapper">
		<form name="Login_Form" class="form-signin">       
		    <h3 class="form-signin-heading">Welcome to Parlament!</h3>
		    <h4> Please Sign In</h4>
			<hr class="colorgraph"><br>
			  
			<input ng-model="loginCtrl.username" type="text" class="form-control" name="Username" placeholder="Username" required="true" autofocus="true" />
			<input ng-model="loginCtrl.password" type="password" class="form-control" name="Password" placeholder="Password" required="true"/>     		  
			 
			<button ng-click="loginCtrl.login()" class="btn btn-lg btn-primary btn-block"  name="Submit" value="Login">Login</button>  			
		</form>			
	</div>
</div>